<!doctype html>
<html ng-app="opinionApp">

<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	
	<!-- Pym -->
	<script src="pym.js"></script>
	
	<!-- Site-specific styles -->
	<link rel="stylesheet" href="styles.css" />
	
	<!-- The data -->
	<script src="data.json"></script>
	
	
</head>

<body ng-controller="opinionController">

<div class="issue" ng-repeat="issue in issues">
	<div class="prompt" ng-show="issue.title">
		<table><tr>	
			<td class="issue"><div class="highlighted">{{issue.title}}</div></td> 
			<td class="text" ng-bind-html="renderHTML(issue.text)"></td>
		</tr></table>
	</div>
	
	<div class = "candidate-collection">
		<div class = "candidate" ng-repeat="viewpoint in issue.viewpoints">
			<table><tr>
				<td class = "portrait-rail">
					<div class = "portrait" ng-style="getImage(viewpoint.name)"></div>
					<div class = "candidate-name">{{viewpoint.name}}</div>
				</td>
				<td class = "content">
					<div class = "candidate-name mobile">{{viewpoint.name}}</div>
					<div class = "header" ng-show="viewpoint.position">
						<div class="highlighted" ng-class="viewpoint.coloring">{{viewpoint.position}}</div>
					</div>
					<div class = "text" ng-bind-html="renderHTML(viewpoint.elaboration)"></div>
					<div class = "quote" ng-bind-html="renderHTML(viewpoint.quote.text + '<small>' + viewpoint.quote.dateline + '</small>')" ng-show="viewpoint.quote.text"></div>
				</td>
			</tr></table>		
		</div>
	</div>
</div>


</body>


<!-- Site-specific scripts -->
<script src="app.js"></script>

<script type="text/javascript">
	var pymChild = new pym.Child();
	setInterval(function(){ pymChild.sendHeight(); console.log("Sending pym ping!") }, 250);
</script>

</html>