<div id="menudrop">
	<div class= "optionsdrop">
		<div class="headerdrop"><a href="#"><p>issues</p></a></div>
		<ul id="issuesdrop">
			<li ng-repeat="issue in issues"><a href="#/issues/{{issue.title}}"><p>{{issue.title}}</p></a></li>
		</ul>
	</div>
	<div class="optionsdrop">
		<div class="headerdrop"><a href="#"><p>candidates</p></a></div>
		<ul id="canddrop">
			<li ng-repeat="candidate in candidates"><a ng-href="#/candidates/{{candidate.name}}"><div class="candidate_zone"><div class="portrait" ng-style="background-image: url('images/{{candidate.last_name.replace('\'','\\\'')}}.png');"></div><p>{{candidate.first_name}}<br />{{candidate.last_name}}</p></div></a></li>
		</ul>
	</div>
</div>