
<div id="menudrop" ng-class = "{show: showNav == true}">
	<div class="exit mobile" ng-click="showNav = false">
		<i class="fa fa-times-circle-o"></i>
	</div>
	<div class= "optionsdrop">
		<div class="headerdrop"><a href="#"><p>issues</p></a></div>
		<ul id="issuesdrop">
			<li ng-repeat="issue in issues"><a href="#/issues/{{issue.title}}"><p>{{issue.title}}</p></a></li>
		</ul>
	</div>
	<div class="optionsdrop">
		<div class="headerdrop"><a href="#"><p>candidates</p></a></div>
		<ul id="canddrop">
			<li class="desktop" ng-repeat="candidate in candidates" ng-class="{inactive: candidate.active == 'n'}"><a ng-href="#/candidates/{{candidate.name}}"><div class="candidate_zone"><div class="portrait" style="background-image: url('images/{{candidate.last_name.replace('\'','\\\'')}}.png');" ng-class="{blue: candidate.party == 'D', red: candidate.party=='R'}"></div><p>{{candidate.first_name}}<br />{{candidate.last_name}}</p></div></a></li>
			<li class="mobile" ng-repeat="candidate in candidates"> <a ng-href="#/candidates/{{candidate.name}}">{{candidate.name}}</a></li>
		</ul>
	</div>
</div>